.li {
  background-color: rgba(58, 146, 160, 0.653);
  width: 200px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 2px black solid;
  position: relative;
  height: 200px;
  margin-bottom: 20px;
}
.fav {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
  background-image: url(../../../../img//star.png);
  background-position: center;
  background-size: cover;
}
