html{
    box-sizing:border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
    font-family: 'Playfair Display', 'Arial', serif;
    color: #626262;
    font-size: 14px;
    margin: auto;
    text-align: left;
}

.header-top {
    padding-top:  72px ;
    text-align: center;
    padding-bottom: 50px;
}

.navigation {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.nav-list {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.714;
}

 .nav-list:not(:last-child) {
    margin-right: 65px;
 }

 .nav-link {
    text-decoration: none;
    color: #626262;
 }

a:hover {
    color: #03a9f4;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.sec {
    font-size: 0px;
}

.main-list {
    display: inline-block;
}

.main-ul {
    padding: 0; 
}

.box {
    display: inline-block;
    max-width: 420px;
    margin: 0;
    padding: 0;
    margin-bottom: 137px;
}

.box:nth-last-of-type(-n+2) {
    margin-bottom: 55px;
}

.main-list:nth-of-type(odd) {
    margin-right: 60px;
}

.photo {
    margin-bottom: 31px;
}

p.intro {
    font-family: 'Ubuntu', 'Arial', serif;
    font-weight: lighter;
    color: #b4ad9e;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
}

p.content {
    margin: 0;
    padding: 0;
    /* margin-bottom: 137px; */
    font-size: 14px;
    line-height: 1.714;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    margin-bottom: 29px;
}

.button-more {
    border-width: 1px;
    border-color: #dddcd7;
    border-style: solid;
    font-size: 20px;
    background-color: transparent;
    padding: 17px 34px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #626262;
  }
  
  /* http://prntscr.com/muav64 */