html{
    box-sizing:border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-top {
    padding-top:  72px ;
    text-align: center;
}

body {
    font-family: 'Playfair Display', 'Arial', serif;
    color: #626262;
    font-size: 14px;
    margin: auto;
    text-align: left;
}

.nav-list {
    display: inline-block;
}

li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    font-size: 14px;
    line-height: 1.714;
}

a:hover {
    color: #03a9f4;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.box {
    display: inline-block;
    max-width: 420px;
    margin-top: 127px;
}

.box:nth-child(-n+2) {
    margin-top: 50px;
}

.box:nth-child(odd) {
    margin-right: 50px;
}

.photo {
    margin-bottom: 31px;
}

p.intro {
    font-family: 'Ubuntu', 'Arial', serif;
    font-weight: lighter;
    color: #b4ad9e;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 26px;
}

p.content {
    line-height: 1.714;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 29px;
}


.button-more {
    border-width: 1px;
    border-color: #dddcd7;
    border-style: solid;
    font-size: 20px;
    background-color: Transparent;
    margin: 55px 0 70px;
    padding: 17px 34px;
    line-height: 1.2;
    text-align: center;
  }

button a {
    text-decoration: none;
    color: #626262;
  }
  