* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

/* HEADER */
.wrapper {
  width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", "Arial", serif;
}

.header {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  margin-bottom: 162px;
}

.nav {
  display: flex;
  max-width: 1090px;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
}

.nav_item {
  list-style: none;
  margin-right: 55px;
}

.nav_item:nth-last-of-type(1) {
  margin-right: 0px;
}

/* HEADER LINK */
.logo,
.nav_a {
  font-family: "Montserrat", "Arial", serif;
  text-decoration: none;
  color: #95e1d3;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
}

.nav_a {
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
}

/* HEADER HOVER */
.logo:hover,
.nav_a:hover {
  color: #f38181;
  transition: color 1s;
}

.logo:after,
.nav_a:after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: transparent;
  position: absolute;
  top: 21px;
}

.logo:after {
  top: 45px;
}

.logo:hover:after,
.nav_a:hover::after {
  content: "";
  transition-property: width, background-color;
  transition-duration: 2s;
  background-color: #f38181;
  width: 100%;
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 82px;
}

.amazing_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 133px;
}

.h2 {
  font-family: "Montserrat", "Arial", serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.h2::before {
  font-family: "Kaushan Script", "Arial", serif;
  text-transform: none;
  font-size: 24px;
  content: "We work with";
  position: absolute;
  top: -42px;
  left: 0;
  right: 0;
}

.meet_our_team_h::before {
  content: "Who we are";
}

.meet_our_team_h {
  margin-bottom: 41px;
}

.h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 36px;
}

.amazing_ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.amazing_list {
  display: flex;
  list-style: none;
}

.amazing_list:not(:nth-last-of-type(-n + 3)) {
  margin-bottom: 101px;
}

.amazing_item {
  display: flex;
  flex-direction: row;
  width: 380px;
}

.amazing_icon {
  width: 80px;
  display: flex;
  justify-content: center;
}

.amazing_text {
  flex-basis: 300px;
}

.amazing_h {
  text-transform: uppercase;
  font-family: "Montserrat", "Arial", serif;
  font-size: 14px;
}

/* OUR TEAM */

.meet_team {
  width: 980px;
  text-align: center;
  color: #999999;
  font-size: 15px;
  line-height: 1.6;
  margin: 0 auto;
  margin-bottom: 90px;
}

.team_ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.team_list:not(:nth-last-of-type(-n + 3)) {
  margin-bottom: 100px;
}

.team_img_wrapper {
  background-color: #95e1d3;
  font-size: 0;
  position: relative;
}

/* TEAM HOVER */

.team_img_wrapper:hover .test {
  transform: translate(-10px, -10px);
}

.team_img_wrapper:hover .team_hover {
  opacity: 1;
}

.test {
  transition: transform 0.3s linear;
}

.team_hover {
  opacity: 0;
  background-image: linear-gradient(
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  width: 380px;
  height: 470px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s linear 0.3s;
}

.team_social {
  width: 224px;
  display: flex;
  justify-content: space-between;
}

.team_social_a {
  width: 55px;
  height: 55px;
  display: block;
  background-color: #fce38a;
  position: relative;
  transition: background-color 0.3s linear;
}

.team_social_a:hover {
  background-color: #95e1d3;
}

.team_social_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* TEAM CONTENT */
.team_img {
  transition: transform 0.2s linear;
}

.team_h {
  text-align: center;
  font-family: "Montserrat", "Arial", serif;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 28px;
}

.team_p {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  line-height: 1.6;
  padding-top: 7px;
}

/* FOOTER */
.footer_hr {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 62px;
  line-height: 62px;
}

.footer_p {
  font-size: 14px;
  font-family: "Montserrat", "Arial", serif;
  color: #333333;
}

.footer_a {
  color: #f38181;
  text-decoration: none;
}

.input_wrapper {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.footer_input {
  width: 230px;
  height: 38px;
  border-width: 1px;
}

.footer_button {
  height: 40px;
  width: 150px;
  background-color: #95e1d3;
  color: #fff;
  border-style: none;
  font-family: "Montserrat", "Arial", serif;
  font-size: 14px;
  font-weight: 700px;
  text-align: center;
  text-transform: uppercase;
}

.footer_button:hover {
  background-color: #f38181;
}
