*,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
}

@media screen and (max-width: 320px) {
}

/* HARD MODE */

/* HEAD */
.wrapper_slider {
  min-width: 320px;
  margin: 0 auto;
  background-image: url(../img/Header_mobile.png),
    linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-position: center;
  height: 540px;
  color: #fff;
  background-size: cover;
}

.wrapper {
  min-width: 280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.nav_ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0px 117px;
}

.nav_a,
.logo {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
}

.logo {
  font-size: 1.25rem;
  transition: color 0.5s linear, border 0.5s linear;
}

.logo:hover {
  color: #ff4e50;
}

.nav_a {
  padding: 10px 17px;
  border: 2px solid transparent;
  border-radius: 16px;
}

.nav_a:focus,
.nav_a:hover {
  border-color: #fff;
}

.h1 {
  text-align: center;
  font-size: 1.875rem;
}

.h1 {
  margin-bottom: 19px;
}

.header_p {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 20px;
}

.header_button {
  background-color: #ff4e50;
  height: 40px;
  border-radius: 20px;
  width: 280px;
  border-style: none;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.header_button:hover,
.header_button:focus {
  background-color: transparent;
  border: 2px solid #ff4e50;
  color: #fff;
}

/* MAIN */

.main {
  padding-top: 67px;
  margin-bottom: 40px;
  max-width: 477px;
  margin: 0 auto;
}

/* .partner {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.partner_h2 {
  text-align: center;
  tab-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.partner_ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin-bottom: 21px;
}

.partner_li {
  text-align: center;
  font-size: 0.875rem;
  max-width: 220px;
}

.partner_li:nth-of-type(1),
.partner_li:last-of-type(1) {
  margin-right: 35px;
}

.partner_img {
  border-radius: 50%;
  overflow: hidden;
}

.partner_img_wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 122px;
  margin: 0 auto;
}

.partner_img_wrapper::after {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  border: 4px #fff solid;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

.partner_1_wrapper::after {
  background-color: #ff4e50;
  background-image: url(../img/partner_1_icon.png);
}

.partner_2_wrapper::after {
  background-color: #ffa507;
  background-image: url(../img/partner_2_icon.png);
}

.partner_3_wrapper::after {
  background-color: #1cd7ad;
  background-image: url(../img/partner_3_icon.png);
}

.partner_4_wrapper::after {
  background-color: #4e73db;
  background-image: url(../img/partner_4_icon.png);
}

.partner_h3 {
  margin-bottom: 11px;
}

.partner_p {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  color: #666666;
  font-size: 0.875rem;
}

.partner_button {
  background-color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #ff4e50;
  width: 280px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #ff4e50;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.partner_button:focus,
.partner_button:hover {
  background-color: #ff4e50;
  border-style: none;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .wrapper_slider {
    height: 700px;
    background-image: url(../img/Header.png),
      linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  }

  .h1 {
    font-size: 3.25rem;
    width: 500px;
    margin-bottom: 41px;
  }
  .header {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 38px auto 152px;
  }

  .header_p {
    margin-bottom: 35px;
  }

  .nav_ul {
    margin: 0;
  }

  .partner_ul {
    flex-flow: column wrap;
    max-height: 550px;
    align-content: center;
  }

  .partner_button {
    width: 193px;
    margin-bottom: 73px;
  }

  
}

@media screen and (min-width: 940px) {
  .wrapper {
    max-width: 940px;
  }

  .main {
    max-width: 940px;
    margin: 0 auto;
  }

  .partner_ul {
    flex-flow: row wrap;
    max-height: 550px;
    align-content: center;
    justify-content: space-between;
  }

  .partner_li:not(:nth-last-of-type(1)) {
    /* margin-right: 20px; */
  }

  .partner_li:nth-of-type(1) {
    order: 1;
  }

  .partner_li:nth-of-type(2) {
    order: 3;
  }

  .partner_li:nth-of-type(3) {
    order: 2;
  }

  .partner_li:nth-of-type(4) {
    order: 4;
  }
}
