.wrapper {
  display: flex;
  flex-flow: column wrap;
  /* max-width: 1200px;
  margin: 0 auto; */
}

.img_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.slider_img {
  display: block;
  width: 500px;
  height: 333px;
  box-sizing: border-box;
  align-self: center;
}
.ul_wrapper {
  width: 100%;
  position: relative;
}

ul {
  overflow-y: scroll;
  height: 133px;
  width: auto;
  list-style: none;
  transform: rotate(90deg);
  position: absolute;
  top: 0;
  left: 0;
}

li {
  transform: rotate(-90deg);
}
li img {
  display: block;
  width: 200px;
  height: 100%;
  height: auto;
}
