.header {
  padding: 20px 0;
  background: cadetblue;
  color: #fff;
  font-weight: bold;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.button {
  background: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
