$white: #fff;
$gold: #fce38a;
$red: #f38181;
$grey: #999999;
$aqua: #95e1d3;
$footer_border: #e5e5e5;
$footer_p: #333333;
$bordo: #793333;
$roboto: "Roboto", "Arial", sans-serif;
$montserat:"Montserrat", "Arial", sans-serif;
$kaushan:"Kaushan Script", "Arial", sans-serif;